.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5 {
  border-radius: 10px;
  margin-bottom: 0px;
  border: 4px solid black;
  width: 281px;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100 span {
  color:#1E90FF;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100 a{
  text-decoration: none;
  color: white;
}
.container-fluid.header {
  background-color: #deb887;
}
.d-flex li {
  list-style: none;
  margin-left: 60px;
}

ul.d-flex.justify-content-end.align-items-center.h-100 a {
  text-decoration: none;
  color: #1E90FF;
  font-size: 20px;
  font-weight: 600;
}

.me {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
hr:not([size]) {
  height: 5px;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  color: #483D8B;
}
ul.skillset.d-flex li {
  border: 3px solid #deb887;
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
  color: #00008B;
  font-weight: 500;
}

.personal p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-fluid.footer {
  background-color: #deb887;
  height: 100px;
}

.left i {
  margin-left: 5px;
  font-size: 25px;
}
ul.skillset.d-flex {
  padding: 0px;
}
ul.toolkit.d-flex {
  padding: 0px;
}
ul.toolkit.d-flex li {
  margin-left: 0px;
  border: 3px solid #deb887;
  border-radius: 10px;
  padding: 5px;
  color: #00008B;
  font-weight: 500;
}
ul.toolkit.d-flex li:nth-child(2) {
  margin-left: 20px;
}
p.m-0 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1E90FF;
}
.d-flex.align-items-center.justify-content-between a {
  font-size: 20px;
}
i.fa-brands.fa-js-square{
  color:#1E90FF;
}
i.fa-brands.fa-html5{
  color: #1E90FF;
}

/* Switcheris */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

ul.d-flex.justify-content-end.align-items-center.h-100 i.fa-solid.fa-bolt-lightning {
  color: lightyellow;
  margin-right: 5px;
}

ul.d-flex.justify-content-end.align-items-center.h-100 i.fa-solid.fa-moon {
color: darkslateblue;
margin-left: 5px;
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}